.button {
  float: right;
  margin: 12px !important;
}

canvas {
  height: 400px;
}

.edit-box {
  padding: 25px;
  box-shadow: 0rem 0rem 5px rgba(0, 0, 0, 0.316);
  box-shadow:inset  0rem 0rem 5px rgba(0, 0, 0, 0.782);
  height: 260px;
  margin-bottom: 10px;
}
.edit-box h5 {
  text-align: center;
  font-weight: 500;
  text-decoration:dotted;
}
.btn{
  box-shadow:inset  0rem 0rem 5px rgba(232, 15, 98, 0.926);
transition: all 350ms linear !important;
}